* {
    box-sizing: border-box;
}

body {
    font-size: 16pt;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    padding: 0;
    margin: 0; 
}

.container {
    width: 1440px;
    height: 1600px;
    margin: 0 auto;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

.header {
    width: 1440px;
    height: 600px;
    padding: 30px;
    text-align: center;

    background-color: #7ca3a1;
    color: beige;
    z-index: 1;
}

hr {
    width: 100px;
    border: 1.5px solid #edb42c;
}

.download {
    width: 210px;
    height: 70px;
    color: #fffff3;
    background-color: #edb42c;
    text-decoration: none;
    margin: 0 auto;
    padding: 22px;
    margin-top: 50px;

    position: absolute;
    top: 160px;
    left: 620px;
}

a:hover {
    background-color:#3D5B47;
    cursor: pointer;
}

.desktopimg {
   width: 900px;
   height: 600px;
   padding-top: 80px;

   position: absolute;
   top: 280px;
   right: 250px;
}

.box {
    padding: 20px;
    width: 1440px;
    height: 700px;

    position: relative;
}
.b1 {
    background-color:#fffff3;
    color: #141414;
}

br {
    display: block;
    margin: 10px 0;
    line-height: 150%;
}
.text-box1 {
    position: absolute;
    top: 350px;
    left: 300px;
}

.b2 {
    text-align: right;
    height: 400px;
    background-color:#edb42c;
    color:beige;
}

.text-box2 {
    position: absolute;
    top: 70px;
    left: 300px;
}

ol {
    width: 700px;
    position: absolute;
    top: 150px;
    left: 300px;
    text-align: left;
    line-height: 40px;
}

.b3 {
    text-align: center;
    height: 300px;
    background-color:#fffff3;
    color: #141414;
}

.download2 {
    position: absolute;
    top: 100px;
    left: 600px;
    text-decoration: none;
    border: 2px solid #7ca3a1;
    color: #141414; 
    padding: 20px;
}

 a:hover {
    background-color: #3D5B47;
    color: #fffff3;
    border: none;
    cursor: pointer;
}

.icon {
    width: 300px;
    height: 300px;
    border: 1px solid white;
    border-radius: 50%;

    position: absolute;
    right: 100px;
    top: -150px;
}